@charset "utf-8";
html, body {
	font-family: 'Roboto',sans-serif;
}
#wrap {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	/*포지션기준*/
	position: relative;
	overflow: hidden;
}
button {
	border: none;
	background: none;
}
.container {
	width: 1280px;
	width: 90%;
	margin: 0 auto;
}
/*모바일*/
/*헤더영역 시작*/
header {
	width: 100%;
	height: 40px;
	background-color: #000;
	/*헤더고정*/
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
}
/*로고 시작*/
/*모바일 로고중앙*/
header .logo {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 0;
}
header .logo a {}
header .logo a img {
	width: 80px;
}
/*로고 끝*/
/*검색버튼 시작*/
header>img {
	width: 20px;
	/*검색버튼 포지션*/
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
}
/*검색버튼 끝*/
/*검색버튼 눌렀을때 x변환 시작*/
.x {
	/*로딩시숨김*/
	display: none;
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
}
.x img {
	width: 20px;
}
/*검색버튼 눌렀을때 x변환 끝*/
/*폼영역 시작*/
header form {
	position: absolute;
	top: 40px;
	width: 100%;
	display: none;
}
header form fieldset {
	width: 100%;
}
header form legend {
	width: 100%;
	position: relative;
}
/*아랫쪽 검색폼 시작*/
header form fieldset legend input {
	width: 100%;
	height: 40px;
	border: 5px solid #000;
	padding-left: 10px;
	padding-right: 10px;
}
header form fieldset legend button {
	/*검색폼 버튼 포지션*/
	position: absolute;
	right: 4px;
	top: 50%;
	width: 30px;
	height: 30px;
	transform: translateY(-50%);
	cursor: pointer;
	background-color: #000;
}
header form fieldset legend button img {
	width: 20px;
}
/*아랫쪽 검색폼 끝*/
/*폼영역 끝*/
/*우측버튼 모바일 숨기기 시작*/
header .button {
	display: none;
}
/*우측버튼 모바일 숨기기 끝*/
/*모바일 햄버거버튼 시작*/
header .mob_ham_btn {
	cursor: pointer;
	margin-left: 10px;
	width: 20px;
	height: 15px;
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	z-index: 100;
}
header .mob_ham_btn span {
	display: block;
	width: 100%;
	height: 2px;
	background: #fff;
	transition: all, 0.3s;
	position: absolute;
	left: 0;
}
/*햄버거버튼 클릭시 x로 바뀜 시작*/
header .mob_ham_btn span:nth-child(1) {
	top: 0;
}
header .mob_ham_btn span:nth-child(2) {
	top: 50%;
	transform: translateY(-50%);
}
header .mob_ham_btn span:nth-child(3) {
	bottom: 0;
}
header .mob_ham_btn span:nth-child(1).top {
	top: 50%;
	transform: translateY(-50%);
	transform: rotate(45deg);
}
header .mob_ham_btn span:nth-child(2).middle {
	display: none;
}
header .mob_ham_btn span:nth-child(3).bottom {
	top: 50%;
	transform: translateY(-50%);
	transform: rotate(-45deg);
}
/*햄버거버튼 클릭시 x로 바뀜 끝*/
/*햄버거 버튼 클릭시 gnb메뉴나옴 시작*/
header #toggle {
	display: none;
}
header #toggle:checked + .gnb {
	left: 0;
}
/*햄버거 버튼 클릭시 gnb메뉴나옴 끝*/
/*모바일 햄버거버튼 끝*/
/*헤더영역 끝*/

/*gnb메뉴영역 시작*/
.gnb {
	/*모바일 gnb메뉴 숨김*/
	width: 100%;
	height: 100vh;
	font-size: 24px;
	text-align: center;
	background-color: #000;
	color: #fff;
	/*포지션, 모바일 gnb숨김*/
	position: fixed;
	top: 0;
	left: -110%;
	transition: all 0.3s;
}
.gnb li {
	height: 10vh;
	line-height: 10vh;
	font-weight: 700;
}
.gnb .mob_gnb_button {}
.gnb .mob_gnb_button a img {
	transition: all 0.3s;
	transform: scale(1);
}
.gnb .mob_gnb_button a:hover img {
	transform: scale(1.2);
}
.gnb .mob_gnb_button ul li {
	width: 33.333333333333333333%;
	text-align: center;
	margin-top: 10px;
	height: 3vh;
	border-right: 2px solid #000;
	/*플롯*/
	float: left;
}
.gnb>ul li:first-child {
	margin-top: 20px;
}
.gnb>ul li:hover {
	background-color: #a91e22;
}
/*gnb메뉴영역 끝*/

/*슬라이더영역 시작*/
.slider {
	width: 100%;
	margin-top: 40px;
	text-align: center;
}
.slider img {
	width: 100%;
}
/*슬라이더영역 끝*/

/*컨텐츠영역 시작*/
.contents {
	width: 100%;
	margin-top: 40px;
}
.sec_title {
	font-size: 18px;
	font-weight: 800;
}
/*이벤트영역 시작*/
.contents .event {
	text-align: center;
}
.contents .event .small_box {
	margin-top: 20px;
	transition: all 0.3s;
	opacity: 1;
}
.contents .event .small_box:hover {
	opacity: 0.8;
}
.contents .event img {
	width: 90%;
}
.contents .event .txt {
	margin-left: 10%;
	text-align: left;
}
.contents .event .txt h3 {
	font-weight: 600;
	font-size: 16px;
	margin-top: 10px;
}
.contents .event .txt p {
	color: gray;
	margin-top: 10px;
	font-size: 14px;
}
.contents .event .big_box {
	margin-top: 20px;
	transition: all 0.3s;
	opacity: 1;
}
.contents .event .big_box:hover {
	opacity: 0.8;
}
/*이벤트영역 끝*/

/*배너영역 시작*/
.contents .banner {
	width: 100%;
	margin-top: 40px;
}
.contents .banner img {
	width: 100%;
	transition: all 0.3s;
}
.contents .banner a:hover img {
	opacity: .8;
}
/*배너영역 끝*/
/*베스트상품영역 시작*/
.contents .best {
	margin-top: 40px;
	text-align: center;
}
.contents .best .sec_title {
	margin-top: 20px;
}
.contents .best .price_txt p {
	margin-top: 10px;
	font-size: 14px;
	color: gray;
}
.contents .best .price_txt h3 {
	font-size: 16px;
	font-weight: 600;
	margin-top: 10px;
}
.contents ul li .small_img {
	width: 42.5%;
	/*플롯*/
	float: left;
	margin-top: 20px;
	margin-left: 5%;
	transition: all 0.3s;
	opacity: 1;
}
.contents .small_img:hover {
	opacity: .8;
}
.contents .small_img img {
	width: 100%;
	transition: all 0.3s;
	transform: scale(1);
}
.contents .small_img img:hover {
	transform: scale(1.1);
}
/*베스트상품영역 끝*/

/*갤러리영역 시작*/
.contents .gallery {
	width: 100%;
	margin-top: 40px;
	text-align: center;
}
.contents .gallery ul li {
	float: left;
	width: 48.5%;
	margin-left: 1%;
	margin-top: 20px;
	/*포지션기준*/
	position: relative;
	z-index: 1;
	overflow: hidden;
}
.contents .gallery ul li img {
	width: 100%;
}
/*셀로판효과 시작*/
.contents .gallery ul li a:before {
	content: '';
	display: block;
	background: #000;
	width: 100%;
	height: 100%;
	/*포지션*/
	position: absolute;
	left: -110%;
	top: 0;
	opacity: .7;
	transition: all 0.3s;
}
.contents .gallery ul li h4 {
	position: absolute;
	left: -100%;
	top: 5%;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
}
.contents .gallery a:hover:before {
	left: 0;
}
.contents .gallery a:hover h4 {
	left: 5%;
}
/*셀로판효과 끝*/
/*갤러리영역 끝*/
/*컨텐츠영역 끝*/

/*푸터영역 시작*/
footer {
	margin-top: 40px;
	width: 100%;
}
footer .sec_title {
	text-align: center;
}
footer iframe {
	margin-top: 20px;
	width: 100%;
	height: 240px;
}
footer p {
	margin-top: 100px;
	padding-bottom: 20px;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	
}
/*푸터영역 끝*/








/*태블릿용 미디어쿼리*/
@media screen and (min-width:768px){
	/*헤더영역 시작*/
	header {
		/*값수정*/
		height: 60px;
	}
	/*로고 시작*/
	/*모바일 로고중앙*/
	header .logo a img {
		/*값수정*/
		width: 100px;
	}
	/*로고 끝*/
	/*검색버튼 시작*/
	header>img {
		/*값수정*/
		width: 30px;
	}
	/*검색버튼 끝*/
	/*검색버튼 눌렀을때 x변환 시작*/
	.x img {
		/*값수정*/
		width: 30px;
	}
	/*검색버튼 눌렀을때 x변환 끝*/
	/*폼영역 시작*/
	header form {
		/*값수정*/
		top: 60px;
		/*값수정*/
		right: 0;
		/*값수정*/
		width: 40%;
	}
	/*폼영역 끝*/
	/*모바일 햄버거버튼 시작*/
	header .mob_ham_btn {
		/*값수정*/
		width: 30px;
		/*값수정*/
		height: 20px;
	}
	/*헤더영역 끝*/

	/*gnb메뉴영역 시작*/
	.gnb {
		/*값수정*/
		width: 40%;
	}
	.gnb .mob_gnb_button {}
	.gnb .mob_gnb_button a img {
		/*값생성*/
		margin-top: 5px;
		/*값생성*/
		margin-left: 20px;
	}
	/*gnb메뉴영역 끝*/

	/*슬라이더영역 시작*/
	.slider {
		/*값수정*/
		margin-top: 60px;
	}
	/*슬라이더영역 끝*/
	
	/*컨텐츠영역 시작*/
	.contents {
		/*값수정*/
		margin-top: 80px;
	}
	.sec_title {
		/*값수정*/
		font-size: 24px;
	}
	/*이벤트영역 시작*/
	.contents .event .small_box {
		/*플롯*/
		float: left;
		/*값수정*/
		width: 50%;
		/*값수정*/
		margin-top: 20px;
	}
	.contents .event .big_box {
		/*값생성*/
		width: 100%;
		/*플롯*/
		float: left;
	}
	.contents .event .big_box img {
		/*값생성*/
		width: 95%;
	}
	/*이벤트영역 끝*/

	/*배너영역 시작*/
	.contents .banner {
		/*값수정*/
		margin-top: 60px;
	}
	/*배너영역 끝*/
	
	/*베스트상품영역 시작*/
	.contents .best {
		/*값수정*/
		margin-top: 60px;
	}
	.contents .best .price_txt p {
		/*값수정*/
		font-size: 16px;
	}
	.contents .best .price_txt h3 {
		/*값수정*/
		font-size: 18px;
	}
	.contents .small_img img:hover {
		/*값수정*/
		transform: scale(1.05);
	}
	/*베스트상품영역 끝*/

	/*갤러리영역 시작*/
	.contents .gallery {
		/*값수정*/
		margin-top: 60px;
	}
	.contents .gallery ul li {
		/*값수정*/
		width: 37.76041666666667%;
		/*값수정*/
		margin-left: 8.159722222222223%;
	}
	/*갤러리영역 끝*/
	/*컨텐츠영역 끝*/

	/*푸터영역 시작*/
	footer {
		/*값수정*/
		margin-top: 60px;
	}
	footer iframe {
		/*값생성*/
		width: 90%;
		/*값생성*/
		margin-left: 5%;
		/*값수정*/
		height: 300px;
	}
	/*푸터영역 끝*/
}









/*pc용 미디어쿼리*/
@media screen and (min-width:1320px){
	#wrap {
		width: 90%;
		max-width: 1280px;
	}
	/*헤더영역 시작*/
	header {
		/*값생성*/
		padding-left: 10%;
		/*값생성*/
		padding-right: 10%;
		/*값수정*/
		height: 80px;
	}
	/*로고 시작*/
	/*PC로고 좌측*/
	header .logo {
		/*값수정*/
		position: absolute;
		/*값수정*/
		transform: translateX(0);
		left: 20%;
	}
	header .logo a img {
		/*값수정*/
		width: 120px;
	}
	/*로고 끝*/
	/*검색버튼 시작*/
	header>img {
		/*PC버튼숨김*/
		display: none;
	}
	/*검색버튼 끝*/
	/*폼영역 시작*/
	header form {
		/*값수정*/
		top: 50%;
		/*값생성*/
		left: 30%;
		/*값생성*/
		transform: translateY(-50%);
		/*값수정*/
		width: 25%;
		/*PC화면표시*/
		display: block;
	}
	/*폼영역 끝*/
	/*우측버튼 시작*/
	header .button {
		display: block;
		/*포지션*/
		position: absolute;
		/*값생성*/
		right: 20%;
		/*값생성*/
		top: 50%;
		/*값생성*/
		transform: translateY(-50%);
	}
	header .button button {
		cursor: pointer;
	}	
	header .button button img {
		/*값생성*/
		transition: all 0.3s;
		/*값생성*/
		transform: scale(1);
		margin-right: 20px;
	}
	header .button button:hover img {
		/*값생성*/
		transform: scale(1.2);
	}
	/*우측버튼 끝*/
	/*모바일 햄버거버튼 시작*/
	header .mob_ham_btn {
		/*pc화면 숨김*/
		display: none;
	}
	/*모바일 햄버거버튼 끝*/
	/*헤더영역 끝*/

	/*gnb메뉴영역 시작*/
	.gnb {
		padding-left: 20%;
		transition: none;
		/*모바일 gnb메뉴 숨김*/
		width: 100%;
		/*값수정*/
		height: 40px;
		/*값수정*/
		font-size: 16px;
		/*값수정*/
		top: 80px;
		/*값수정*/
		left: 0;
	}
	.gnb li {
		/*값수정*/
		height: 40px;
		/*값수정*/
		line-height: 40px;
	}
	.gnb .mob_gnb_button {
		/*pc화면숨김*/
		display: none;
	}
	.gnb>ul li:first-child {
		/*값수정*/
		margin-top: 0px;
	}
	.gnb>ul li {
		/*플롯*/
		float: left;
		/*값생성*/
		width: 150px;
	}
	/*gnb메뉴영역 끝*/

	/*슬라이더영역 시작*/
	.slider {
		/*값수정*/
		margin-top: 120px;
	}
	.slider img {
	}
	/*슬라이더영역 끝*/

	/*컨텐츠영역 시작*/
	.contents {
		max-width: 1280px;
		/*값수정*/
		width: 90%;
		/*값생성*/
		margin: 0 auto;
		/*값수정*/
		margin-top: 120px;
	}
	.sec_title {
		/*값수정*/
		font-size: 24px;
	}
	/*이벤트영역 시작*/
	.contents .event {
		/*값생성*/
		position: relative;
	}
	.contents .event .small_box {
		/*값수정*/
		width: 38%;
		/*값생성*/
		position: absolute;
		/*값생성*/
		right: 0;
	}
	.contents .event .small_box img {
		width: 100%;
		max-height: 165px;
		margin-left: 2%;
	}
	.contents .event .small_box:nth-child(2) {
		/*값생성*/
		bottom: 0;
	}
	.contents .event img {
		/*값수정*/
		width: 70%;
	}
	.contents .event .big_box img {
		width: 100%;
	}
	.contents .event .txt {
		margin-left: 15%;
	}
	.contents .event .txt h3 {
		/*값수정*/
		font-size: 18px;
	}
	.contents .event .txt p {
		/*값수정*/
		font-size: 16px;
	}
	.contents .event .big_box {
		/*값수정*/
		width: 60%;
	}
	.contents .event .big_box .txt {
		/*값생성*/
		margin-left: 5%;
	}
	/*이벤트영역 끝*/

	/*배너영역 시작*/
	.contents .banner {
		/*값수정*/
		margin-top: 80px;
	}
	.contents .banner img {
		/*값생성*/
		max-height: 300px;
	}
	/*배너영역 끝*/
	/*베스트상품영역 시작*/
	.contents .best {
		/*값수정*/
		margin-top: 80px;
	}
	.contents .best .sec_title {
		/*값수정*/
		margin-top: 0px;
	}
	.contents .best .price_txt p {
		/*값수정*/
		font-size: 16px;
	}
	.contents .best .price_txt h3 {
		/*값수정*/
		font-size: 18px;
	}
	.contents .best ul li {
		margin-top: 40px;
		/*값수정*/
		width: 23.828125%;
		/*플롯*/
		float: left;
		/*값수정*/
		margin-left: 1.5625%;
	}
	.contents .best ul li:first-child {
		margin-left: 0;
	}
	.contents ul li .small_img {
		width: 100%;
	}
	/*베스트상품영역 끝*/

	/*갤러리영역 시작*/
	.contents .gallery {
		/*값수정*/
		margin-top: 80px;
	}
	.contents .gallery ul li {
		float: left;
		/*값수정*/
		width: 22.65625%;
		/*값수정*/
		margin-left: 3.125%;
		/*값수정*/
		margin-top: 40px;
	}
	.contents .gallery ul li:first-child {
		margin-left: 0;
	}
	/*갤러리영역 끝*/
	/*컨텐츠영역 끝*/

	/*푸터영역 시작*/
	footer {
		/*값생성*/
		width: 1280px;
		/*값생성*/
		max-width: 1280px;
		/*값수정*/
		width: 90%;
		margin: 0 auto;
		/*값수정*/
		margin-top: 80px;
	}
	footer iframe {
		/*값생성*/
		margin-left: 0;
		/*값생성*/
		width: 100%;
		/*값수정*/
		margin-top: 40px;
		/*값수정*/
		height: 360px;
	}
	footer p {
		/*값수정*/
		padding-bottom: 40px;
	}
	/*푸터영역 끝*/
}